body {
	width: 761px;
	margin: 1.5em auto; /* this + a defined width, centers the body content */
	padding: 50px;
	background-color: #4B4B4B;
	color: #FFF;
}

h1 {
	color: #080b36;
	float: center;
	}

h2 {
	padding: 7px;
	color: #080b36;
}

h3 {
	color: #FFFFFF;
	
}

img {
	border-color: #080b36;
	border-style: solid;
	border-width: 5px;
	float: texttop;
}

a:link {
color: #FFFFFF;
}

a {
  font-weight: bold;
}

a:visited {
color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #56284c;
}

#nav {
	list-style: none;
	background-color: none;
	width: 100px;
	padding-top: 15px;
	padding-bottom: 20px;
	float: right;
}

a {
 
  border-width : 1px 4px 4px 1px;
  text-decoration : none;
  padding : 4px;
  border-color : #69f #00f #00f #69f;
}




